.metadata/
.recommenders/
restfulWeb/.classpath
restfulWeb/.gradle/
restfulWeb/.project
restfulWeb/.settings/
restfulWeb/bin/
socketApp/.classpath
socketApp/.gradle/
socketApp/.project
socketApp/.settings/
socketApp/bin/
socketApp/.DS_Store
