.metadata/
.recommenders/
socketServer/.classpath
socketServer/.gradle/
socketServer/.project
socketServer/.settings/
socketServer/bin/
app/.classpath
app/.gradle/
app/.project
app/.settings/
app/bin/
app/.DS_Store
